<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="container page">
        <div class="card">
            <h2>Uspješno prijavljeni! <%= user.username %></h2>
            <%= user.secureMode ? "Uključena sigurnost" : "Isključena sigurnost " %>
            <div class="result">
                <p>Vaša sesija traje <%= cookie_time %>, ako želite čekati uživajte u keksiću: <%= cookie_id %></p>                
                <p>httpOnly: <%= cookie_httponly %></p>
            </div>

            <div style="display:flex; gap:12px; margin-top:12px;">
                <form action="/logout" method="post">
                    <button class="btn" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

